{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% if app.user and app.user.isAdmin() %}
        <a href="{{ path('create_hall', {'venue_id': venue.id}) }}" class="btn btn-success">Add New Hall</a>
        {% endif %}
        <div class="col-sm-5">
            <h2>{{ venue.name }}</h2>
            <h4><img src="{{ asset('fonts/glyphicons-503-map.png') }}"> {{ venue.address }}</h4>
            <hr>
            <p>{{ venue.description }}</p>
        </div>
        <div class="col-sm-7">
            <h2>Halls</h2>
            {% if venue.halls is not empty %}
            {% for hall in venue.halls %}
                <div class="col-sm-4">
                <div class="thumbnail">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0a/2d/2d/11/conference-hall.jpg">
                    <div class="caption">
                        <h3>{{ hall.getName() }}</h3>
                        <p><img src="{{ asset('fonts/glyphicons-44-group.png') }}"> {{ hall.getCapacity() }}</p>
                        <p><a href="{{ path('details_hall', {'id': hall.getId()}) }}" class="btn btn-primary btn-xs" role="button">Details</a>
                            {% if app.user and app.user.isAdmin() %}
                            <a href="{{ path('edit_hall', {'id': hall.getId()}) }}" class="btn btn-default btn-xs" role="button">Edit</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-warning">
                <h4>There are not halls in this venue. You must add at least one hall, otherwise the venue WILL NOT be available for booking!!!</h4>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

