{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
            <h2>Add New Hall</h2><br/>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}